<h2>{{localize "FFLE.debug.attack.attackRoll"}}</h2>
<p>{{localize "FFLE.debug.attack.vsDefense" defenseType=defenseType}}</p>
{{! Rendered dice roll }}
<h2>{{localize "FFLE.debug.attack.targets"}}</h2>
{{! Target partials with #each }}