<section class="resources flexrow">
  <div class="resource flexrow flex-group-center">
    <div class="resource-label">{{localize "FFLE.resourceTypes.hp"}}</div>
    <input type="number" name="system." </div>
</section>