<div class="defenses flexcol">
  {{> "systems/ffle-sheet/templates/sheets/actor/shared/defenses/base-defenses.hbs"}}

  {{#if (eq actor.type "npc")}}
  <hr />
  {{> "systems/ffle-sheet/templates/sheets/actor/shared/defenses/armor.hbs"}}
  {{/if}}
</div>