<section
  class="tab npcSettings {{tab.cssClass}}"
  data-group="primary"
  data-tab="npcSettings"
>
  {{! Trait mods }}
  {{> "systems/ffle-sheet/templates/sheets/actor/npc/traits.hbs"}}

  {{! Stat modifiers (fixed attack/defense bonuses etc) }}

  {{! Armor selections }}
</section>