<section class="tab npc {{tab.cssClass}}" data-group="primary" data-tab="npc">
  <div class="flexcol">
    {{! Attack and defense panes }}
    <div class="flexrow">
    {{> "systems/ffle-sheet/templates/sheets/actor/shared/defenses/defenses.hbs"}}
  
    {{> "systems/ffle-sheet/templates/sheets/actor/shared/attack.hbs"}}
    </div>
  </div>
</section>